PORT=3311
EVOGB_API_KEY=TU_CLAVE_EVOGB
SUPABASE_URL=https://dtfecbsokpgzyuiyxyvm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_SU7zJytoYMgoGtYoobINDQ_qLSO0bw1
PUBLIC_BASE_URL=https://arcadiacorps.online/ai-api
